@use 'variables' as *;

.post {
  position: sticky;
  top: 100px;
}

// image container
%fold-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    img {
      transition: 0.3s;
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      object-fit: cover;
    }
    // overlay effect
    &::after{
      content: '';
      transition: 0.3s;
      position: absolute;
      top: 0;
      left: 0;
      height: 0;
      width: 0;
      background: linear-gradient(135deg, $black 50%, $pink 50%);
    }
    // make it square
    &::before {
      content: '';
      display: block;
      padding-top: 100%;
    }
    // hover effects
    &:hover::after {
      height: 4em;
      width: 4em;
    }
    &:hover img {
      transform: scale(1.2);
      cursor: pointer;
    }
}
%fold-container-large {
    width: 100%;
    position: relative;
    overflow: hidden;
    
    // overlay effect
    &::after{
      content: '';
      transition: 0.3s;
      position: absolute;
      top: 0;
      right: 0;
      height: 5em;
      width: 5em;
      background: linear-gradient(-135deg, $black 50%, $pink 50%);
    }
}

.fold-container {
  @extend %fold-container;
  max-height: 200px;
}

@media screen and (min-width:$big) {
  .fold-container {
    max-height: none;
  }
}


%span-text{
    display: inline-block;
    margin: 40px 0;
    text-transform: uppercase;
    font-size: 0.6em;
    color: $pink;
    text-decoration: none;
}

.category {
  @extend %span-text;
}

.name {
  @extend %span-text;
  color: $grey;
}