@use 'variables' as *;
@use 'main_post' as *;

.newsletter {
    @extend %fold-container-large;
    position: relative;
    overflow: hidden;
    iframe {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 200%;
        height: 200%;
        z-index: -1;
    }
    form {
        z-index: 1;
        width: 100%;
        margin: 120px 0;
        background-color: rgba(0,0,0,0.5);
        .form-inside {
            display: flex;
            flex-direction: column;
            padding: 50px;
        }
        input {
            color: $white;
            font-size: 2em;
            outline: none;
            padding: 10px 0;
            background: none;
            border:none;
            border-bottom: 3px solid $pink;
        }
    }
}

@media screen and (min-width: $big) {
    .newsletter {
        form {
            width: 50%;
        }
    }
}