@use 'variables' as *;
@use 'navigation';
@use 'main_post';
@use 'underline';
@use 'stories';
@use 'newsletter';
@use 'footer';
@use 'bubble';
@use 'title';

*, *::before, *::after {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Muli', sans-serif;
    background: $black;
}

.wrapper {
    max-width: 1200px;
    margin: 0 10px;
}

h3 {
    color: $white;
    font-size: 3em;
}

a:hover {
    text-decoration: underline;
}

.section_title {
    color: $white;
    margin-bottom: 10px;
}

.submit {
    cursor: pointer;
    font-size: 1.1em;
    margin-top: 20px;
    display: inline-block;
    padding: 10px 0;
    width: 8em;
    color: $white;
    background-color: $pink; 
    border: none;
    border-radius: 50px;
}

.posts {
    margin: 50px 0;
}

@media screen and (min-width: $big) {
    .wrapper {
        margin: 0 auto;
    }

    .posts {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 70px;
    }

    
}

@media screen and(max-width: 1200px) {
    .wrapper {
        margin: 0 10px;
    }
}